<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete product - <%= product.id%>
    </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <h1>Are you sure want to delete product - <%= product.id%>
    </h1>
    <hr>
    <div class="flex flex-row items-center justify-content-between">
        <a href="/product" type="button" class="p-2 bg-gray-500">No</a>
        <a href="/product/delete/<%= product.id>" "p-2 bg-red-500 text-white">Yes</a>
    </div>
</body>

</html>